<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="CloudCar.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key="" value="" />
  </appSettings>
  <connectionStrings configSource="CCConfig\db.config" />
  <cachingConfiguration defaultCacheManager="ViewStateCacheManager">
    <cacheManagers>
      <add name="ViewStateCacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="50000" numberToRemoveWhenScavenging="1000" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <system.web>
    <!--globalization requestEncoding="windows-1252" responseEncoding="windows-1252" /-->
    <httpRuntime maxRequestLength="2097151" executionTimeout="1200" requestValidationMode="2.0" />
    <anonymousIdentification enabled="true" />
    <!-- TODO: Generate a new machine key when using VBV (Verified By Visa and Beanstream) -->
    <!-- ASP .NET 2.0 MachineKey -->
    <!-- machineKey validationKey="7CEAD612ED7DC2531A87BD10AAC4E0D827052916D34588330C0521A8E040C9E18799DA13523CB7FBC2BF3C8807D4B5D54131606936717198E3E92CC6BBA82689"
          decryptionKey="9D0B89960A66EF26290C57501D86F3B2D7902A420E29BEC722E1F43B52E54DC5" validation="SHA1" decryption="AES" /-->
    <!-- ASP .NET 1.1 MachineKey -->
    <!--machineKey validationKey="D72E761B61D0C0C5D2C97D36F8A6D77E65C7B18863DBABAC3EDF7EE76EFCEE42EA7E44D17273D7619C26A90EE77B9B5E45112AC9309FE27E9ABA5438D00CEB10"
          decryptionKey="9C2E4BDE4B6923167A65FA0265FC858598B947544EA918DA"
          validation="SHA1" /-->
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="MainConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="CloudCar" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" connectionStringName="MainConnectionString" applicationName="CloudCar" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" connectionStringName="MainConnectionString" applicationName="CloudCar" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <trace enabled="false" requestLimit="12" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <compilation debug="false" strict="true" explicit="true" targetFramework="4.0" batch="false" optimizeCompilations="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages configSource="CCConfig\pages.config" />
    <authentication mode="Forms">
      <forms loginUrl="/Login.html" slidingExpiration="true" timeout="29" />
    </authentication>
    <sessionState timeout="30" mode="InProc" cookieless="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="/Home/Error.html" />
    <httpHandlers>
      <!--add verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler, AjaxControlToolkit" /-->
      <add verb="*" path="*asp.net.js" type="CloudCar.CCFramework.Generic.CompressScriptHandler" />
      <add verb="*" path="/Files/Products/*.*" type="CloudCar.CCFramework.Generic.FileDeniedHandler" />
    </httpHandlers>
    <httpModules>
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="AnonymousIdentification" />
      <add name="CompressScriptModule" type="CloudCar.CCFramework.Generic.CompressScriptModule" />
    </httpModules>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
    <defaultProxy enabled="true" />
  </system.net>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CompressScriptModule" type="CloudCar.CCFramework.Generic.CompressScriptModule" />
    </modules>
    <handlers>
      <remove name="ScriptComressorHandler" />
      <remove name="UrlRoutingHandler" />
      <!--add name="CombineScriptsHandler" verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler, AjaxControlToolkit" /-->
      <add name="CompressScriptHandler" verb="*" path="*asp.net.js" type="CloudCar.CCFramework.Generic.CompressScriptHandler" />
      <add name="FileDeniedHandler" verb="*" path="/Files/Products/*.*" type="CloudCar.CCFramework.Generic.FileDeniedHandler" />
    </handlers>
  </system.webServer>
  <location path="CCAdmin/Commerce/Membership/Members.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CCAuthentication/UserProfile.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Profile.html">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account.html">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CCCommerce/Distributor">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Registration.html">
    <system.web>
      <authorization>
        <deny roles="Administrator, Regular, Sales, Warehouse" />
      </authorization>
    </system.web>
  </location>
  <location path="Registration.aspx">
    <system.web>
      <authorization>
        <deny roles="Administrator, Regular, Sales, Warehouse" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.html">
    <system.web>
      <authorization>
        <deny roles="Administrator, Regular, Sales, Warehouse" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CloudCar.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="CloudCar.Service1">
        <endpoint address="" behaviorConfiguration="CloudCar.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="CloudCar.Service1" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="CanadaPostSoap" allowCookies="true">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UPSServiceSoap" allowCookies="true">
          <security>
            <message algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EstimatingServiceEndpoint">
          <security mode="Transport">
            <message algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10981/Services/CanadaPost.asmx" binding="basicHttpBinding" bindingConfiguration="CanadaPostSoap" contract="Shipping.CanadaPost.CanadaPostSoap" name="CanadaPostSoap" />
      <endpoint address="http://localhost:10981/Services/UPSService.asmx" binding="basicHttpBinding" bindingConfiguration="UPSServiceSoap" contract="Shipping.UPS.UPSServiceSoap" name="UPSServiceSoap" />
      <endpoint address="https://devwebservices.purolator.com/EWS/V1/Estimating/EstimatingService.asmx" binding="basicHttpBinding" bindingConfiguration="EstimatingServiceEndpoint" contract="Shipping.Purolator.EstimatingServiceContract" name="EstimatingServiceEndpoint" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <CloudCar.My.MySettings>
      <setting name="SMECommerceTemplate_Beanstream_ProcessTransaction"
        serializeAs="String">
        <value>https://www.beanstream.com/soap/ProcessTransaction.wsdl</value>
      </setting>
      <setting name="SMECommerceTemplate_Services_Shipping_CPServices_CanadaPost"
        serializeAs="String">
        <value>http://localhost:10981/Services/CanadaPost.asmx</value>
      </setting>
      <setting name="SMECommerceTemplate_Services_Shipping_UPSServices_UPSService"
        serializeAs="String">
        <value>http://localhost:10981/Services/UPSService.asmx</value>
      </setting>
      <setting name="CloudCarFramework_CCFramework_Commerce_Shipping_PurolatorService_EstimatingService"
        serializeAs="String">
        <value>https://devwebservices.purolator.com/EWS/V1/Estimating/EstimatingService.asmx</value>
      </setting>
      <setting name="CloudCarFramework_com_optimalpayments_webservices_CreditCardServiceV1"
        serializeAs="String">
        <value>https://webservices.optimalpayments.com/creditcardWS/CreditCardService/v1</value>
      </setting>
    </CloudCar.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.40412.0" newVersion="3.5.40412.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.15.0" newVersion="4.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
  </runtime>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
	     which is necessary for OpenID urls with unicode characters in the domain/host name. 
	     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>