<connectionStrings>
  <add name="MainConnectionString" connectionString="Data Source=servername;Initial Catalog=CloudCarDb2014;Persist Security Info=True;Trusted_Connection=False;Encrypt=False;MultipleActiveResultSets=true;User ID=user;Password=password;Connection Timeout=150;Min Pool Size=20;" providerName="System.Data.SqlClient" />
  <add name="ErrorDBConnectionString" connectionString="Data Source=servername;Persist Security Info=True;User ID=user;Password=password" providerName="System.Data.SqlClient" />
</connectionStrings>