<pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
    <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
    </namespaces>
    <controls>
        <add namespace="CloudCar.CCControls.Validators" assembly="CloudCarFramework" tagPrefix="CC" />
        <add namespace="CloudCar.CCFramework.Core" assembly="CloudCarFramework" tagPrefix="CC" />
        <add src="~/CCControls/ModalPopup/ModalPopup.ascx" tagName="ModalPopup" tagPrefix="Corp" />
        <add src="~/CCControls/UploadPicture.ascx" tagName="UploadPicture" tagPrefix="Corp" />
        <!--add src="~/CCControls/EditSchedule.ascx" tagName="EditSchedule" tagPrefix="Corp"/-->
        <add src="~/CCControls/SnippetControl.ascx" tagName="SnippetControl" tagPrefix="Corp" />
        <add src="~/CCControls/LinkControl.ascx" tagName="LinkControl" tagPrefix="Corp" />
        <add src="~/CCControls/SubscribeControl.ascx" tagName="SubscribeControl" tagPrefix="Corp" />
        <!--add src="~/CCControls/SubmitEventControl.ascx" tagName="SubmitEventControl" tagPrefix="Corp"/-->
        <add src="~/CCControls/HelpButtonControl.ascx" tagName="HelpButtonControl" tagPrefix="Corp" />
        <add src="~/CCControls/SearchControl.ascx" tagName="SearchControl" tagPrefix="Corp" />
        <add src="~/CCControls/SocialMediaControl.ascx" tagName="SocialMediaControl" tagPrefix="Blog" />
        <add src="~/CCControls/ContentManagement/PageModule/ContentControl.ascx" tagName="ContentControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/NivoRotatorControl.ascx" tagName="NivoRotatorControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/JShowOffRotatorControl.ascx" tagName="JShowOffRotatorControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/CameraRotatorControl.ascx" tagName="CameraRotatorControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/HeaderControl.ascx" tagName="HeaderControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/BreadCrumbControl.ascx" tagName="BreadCrumbControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/HeaderImageControl.ascx" tagName="HeaderImageControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/ScriptControl.ascx" tagName="ScriptControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/ChildPageMenuControl.ascx" tagName="ChildPageMenuControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/PageModule/CallToActionControl.ascx" tagName="CallToActionControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/EventsModule/EventsControl.ascx" tagName="EventsControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/EventsModule/UpcomingEventsControl.ascx" tagName="UpcomingEventsControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/EventsModule/EventsCalendar.ascx" tagName="EventsCalendar" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/EventsModule/EventsDetailsControl.ascx" tagName="EventsDetailsControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/NewsModule/NewsControl.ascx" tagName="NewsControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/NewsModule/NewsDetailsControl.ascx" tagName="NewsDetailsControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/NewsModule/RecentNewsControl.ascx" tagName="RecentNewsControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/CloudCarScriptManagementControl.ascx" tagName="CloudCarScriptManagementControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/RecentEventAndNewsControl.ascx" tagName="RecentEventAndNewsControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/TestimonialControl.ascx" tagName="TestimonialControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/DatabaseImageControl.ascx" tagName="DatabaseImageControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/MenuDisplayControl.ascx" tagName="MenuDisplayControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/AdminMenuDisplayControl.ascx" tagName="AdminMenuDisplayControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/GalleryControls/ImageGalleryControl.ascx" tagName="ImageGalleryControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/ProductControls/ProductControl.ascx" tagName="ProductControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/RecentVideoControl.ascx" tagName="RecentVideoControl" tagPrefix="CMS" />
        <add src="~/CCControls/ContentManagement/ContactControl.ascx" tagName="ContactControl" tagPrefix="CMS" />
        <add src="~/CCControls/Commerce/LatestControl.ascx" tagName="LatestControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/ClearanceControl.ascx" tagName="ClearanceControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/TopSellersControl.ascx" tagName="TopSellersControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/ProductControls/ProductControl.ascx" tagName="ProductControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/ProductControls/SimpleProductControl.ascx" tagName="SimpleProductControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/ProductControls/RecomendedProductControl.ascx" tagName="RecomendedProductControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/ShoppingDetailsControl.ascx" tagName="ShoppingDetailsControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/AddProductReviewControl.ascx" tagName="AddProductReviewControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/PaybackTotalControl.ascx" tagName="PaybackTotalControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/QuickShopControl.ascx" tagName="QuickShopControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/ProductControls/BrandCategoriesControl.ascx" tagName="BrandCategoriesControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/BrandControl.ascx" tagName="BrandControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/CategoriesControl.ascx" tagName="CategoriesControl" tagPrefix="Store" />
        <add src="~/CCControls/Commerce/ShoppingProgressControl.ascx" tagName="ShoppingProgressControl" tagPrefix="Store" />
        <add src="~/CCControls/Blogging/TwitterFeedControl.ascx" tagName="TwitterFeedControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/RecentBlogsControl.ascx" tagName="RecentBlogsControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/AddCommentControl.ascx" tagName="AddCommentControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/MailingListControl.ascx" tagName="MailingListControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/FollowUsControl.ascx" tagName="FollowUsControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/FBLikeBoxControl.ascx" tagName="FBLikeBoxControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/FBLikeButtonControl.ascx" tagName="FBLikeButtonControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/FBCommentsControl.ascx" tagName="FBCommentsControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/LatestBlogControl.ascx" tagName="LatestBlogControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/BlogThumbnailsControl.ascx" tagName="BlogThumbnailsControl" tagPrefix="Blog" />
        <add src="~/CCControls/Blogging/AuthorsControl.ascx" tagName="AuthorsControl" tagPrefix="Blog" />
        <add src="~/CCControls/Admin/UserAccountControl.ascx" tagName="UserAccountControl" tagPrefix="Admin" />
        <add src="~/CCControls/Admin/AlertMessageControl.ascx" tagName="AlertMessageControl" tagPrefix="Admin" />
        <add src="~/CCControls/Admin/TipMessageControl.ascx" tagName="TipMessageControl" tagPrefix="Admin" />
        <add src="~/CCControls/Admin/CKEditorControl.ascx" tagName="CKEditorControl" tagPrefix="Admin" />
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajax" />
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit.HTMLEditor" tagPrefix="ajax" />
        <!-- Client Controls -->
        <add src="~/CCControls/Commerce/ClientControls/BoxCalculatorControl.ascx" tagName="BoxCalculatorControl" tagPrefix="Store" />
        <!-- /Client Controls -->
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
    </controls>
</pages>